@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Leckerli+One&display=swap');

$font-primary: "Inter", sans-serif;

$display: "xl" 3rem 4.5rem 700, "l" 2.5rem 3.75rem 600, "m" 2rem 3.125 600 ;
$heading: "l" 1.75rem 2.65rem 500, "m" 1.5rem 2.15 500, "s" 1.2rem  1.7rem 500;
$body: "l" 1rem 1.5rem 400, "m" 0.8rem 1.25rem 300, "s" 0.65rem 1rem 300;

