//Variable for buttons and inputs


//Regular lg
$btn-lg-py: 16px;
$btn-lg-px: 20px;
$btn-lg-fs: 1.2rem;
$btn-lg-lh: 1.5;
$btn-lg-br: 4px;

//Regular btn
$btn-py: 12px;
$btn-px: 16px;
$btn-fs: 1rem;
$btn-lh: 1.5;
$btn-br: 4px;

//Sm btn
$btn-sm-py: 8px;
$btn-sm-fs: 0.8rem;
$btn-sm-px: 12px;
$btn-sm-lh: 1.5;
$btn-sm-br: 4px;

$font-weight: (
    "100": 100,
    "200": 200,
    "300": 300,
    "400": 400,
    "500": 500,
    "600": 600,
    "700": 700,
    "800": 800,
    "900": 900,
);